<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mac-00BE6ED71E35EB86</key>
	<string>iMac13,1</string>
	<key>Mac-031AEE4D24BFF0B1</key>
	<string>MacMini6,1</string>
	<key>Mac-031B6874CF7F642A</key>
	<string>iMac14,1</string>
	<key>Mac-06F11F11946D27C5</key>
	<string>MacBookPro11,5</string>
	<key>Mac-06F11FD93F0323C5</key>
	<string>MacBookPro11,4</string>
	<key>Mac-189A3D4F975D5FFC</key>
	<string>MacBookPro11,1</string>
	<key>Mac-27ADBB7B4CEE8E61</key>
	<string>iMac14,2</string>
	<key>Mac-2BD1B31983FE1663</key>
	<string>MacBookPro11,3</string>
	<key>Mac-2E6FAB96566FE58C</key>
	<string>MacBookAir5,2</string>
	<key>Mac-35C1E88140C3E6CF</key>
	<string>MacBookAir6,1</string>
	<key>Mac-35C5E08120C7EEAF</key>
	<string>Macmini7,1</string>
	<key>Mac-3CBD00234E554E41</key>
	<string>MacBookPro11,2</string>
	<key>Mac-42FD25EABCABB274</key>
	<string>iMac15,1</string>
	<key>Mac-4B7AC7E43945597E</key>
	<string>MacBookPro9,1</string>
	<key>Mac-4BC72D62AD45599E</key>
	<string>MacMini5,2</string>
	<key>Mac-66F35F19FE2A0D05</key>
	<string>MacBookAir5,1</string>
	<key>Mac-6F01561E16C75D06</key>
	<string>MacBookPro9,2</string>
	<key>Mac-742912EFDBEE19B3</key>
	<string>MacBookAir4,2</string>
	<key>Mac-77EB7D7DAF985301</key>
	<string>iMac14,3</string>
	<key>Mac-7BA5B2794B2CDB12</key>
	<string>MacMini5,3</string>
	<key>Mac-7DF21CB3ED6977E5</key>
	<string>MacBookAir6,2</string>
	<key>Mac-7DF2A3B5E5D671ED</key>
	<string>iMac13,3</string>
	<key>Mac-81E3E92DD6088272</key>
	<string>iMac14,4</string>
	<key>Mac-8ED6AF5B48C039E1</key>
	<string>MacMini5,1</string>
	<key>Mac-937CB26E2E02BB01</key>
	<string>MacBookAir7,2</string>
	<key>Mac-942452F5819B1C1B</key>
	<string>MacBookAir3,1</string>
	<key>Mac-942459F5819B171B</key>
	<string>MacBookPro8,3</string>
	<key>Mac-94245A3940C91C80</key>
	<string>MacBookPro8,2</string>
	<key>Mac-94245B3640C91C81</key>
	<string>MacBookPro8,1</string>
	<key>Mac-942B59F58194171B</key>
	<string>iMac12,2</string>
	<key>Mac-942B5BF58194151B</key>
	<string>iMac12,1</string>
	<key>Mac-942C5DF58193131B</key>
	<string>MacBookAir3,2</string>
	<key>Mac-9F18E312C5C2BF0B</key>
	<string>MacBookAir7,1</string>
	<key>Mac-AFD8A9D944EA4843</key>
	<string>MacBookPro10,2</string>
	<key>Mac-BE0E8AC46FE800CC</key>
	<string>MacBook8,1</string>
	<key>Mac-C08A6BB70A942AC2</key>
	<string>MacBookAir4,1</string>
	<key>Mac-C3EC7CD22292981F</key>
	<string>MacBookPro10,1</string>
	<key>Mac-E43C1C25D4880AD6</key>
	<string>MacBookPro12,1</string>
	<key>Mac-F2208EC8</key>
	<string>MacMini4,1</string>
	<key>Mac-F2218EA9</key>
	<string>iMac9,1</string>
	<key>Mac-F2218EC8</key>
	<string>iMac9,1</string>
	<key>Mac-F2218FA9</key>
	<string>iMac9,1</string>
	<key>Mac-F2218FC8</key>
	<string>iMac9,1</string>
	<key>Mac-F221BEC8</key>
	<string>MacPro4,1</string>
	<key>Mac-F221DCC8</key>
	<string>iMac12,1</string>
	<key>Mac-F222BEC8</key>
	<string>MacBookPro7,1</string>
	<key>Mac-F2238AC8</key>
	<string>iMac11,2</string>
	<key>Mac-F2238BAE</key>
	<string>iMac11,3</string>
	<key>Mac-F223BEC8</key>
	<string>Xserve3,1</string>
	<key>Mac-F22586C8</key>
	<string>MacBookPro6,2</string>
	<key>Mac-F22587A1</key>
	<string>MacBookPro5,4</string>
	<key>Mac-F22587C8</key>
	<string>MacBookPro5,3</string>
	<key>Mac-F22589C8</key>
	<string>MacBookPro6,1</string>
	<key>Mac-F2268AC8</key>
	<string>MacBookPro5,5</string>
	<key>Mac-F2268CC8</key>
	<string>iMac10,1</string>
	<key>Mac-F2268DAE</key>
	<string>iMac11,1</string>
	<key>Mac-F2268DC8</key>
	<string>iMac10,1</string>
	<key>Mac-F2268EC8</key>
	<string>MacBookPro5,2</string>
	<key>Mac-F226BEC8</key>
	<string>iMac8,1</string>
	<key>Mac-F22788A9</key>
	<string>MacBook4,1</string>
	<key>Mac-F22788AA</key>
	<string>MacBook5,2</string>
	<key>Mac-F22788C8</key>
	<string>MacBook3,1</string>
	<key>Mac-F227BEC8</key>
	<string>iMac8,1</string>
	<key>Mac-F22C86C8</key>
	<string>MacMini3,1</string>
	<key>Mac-F22C89C8</key>
	<string>MacBook7,1</string>
	<key>Mac-F22C8AC8</key>
	<string>MacBook6,1</string>
	<key>Mac-F4208AC8</key>
	<string>Xserve1,1</string>
	<key>Mac-F4208CA9</key>
	<string>MacBook2,1</string>
	<key>Mac-F4208CAA</key>
	<string>MacBook2,1</string>
	<key>Mac-F4208DA9</key>
	<string>MacPro2,1</string>
	<key>Mac-F4208DC8</key>
	<string>MacPro1,1</string>
	<key>Mac-F4208EAA</key>
	<string>MacMini2,1</string>
	<key>Mac-F42187C8</key>
	<string>MacBookPro2,2</string>
	<key>Mac-F42189C8</key>
	<string>MacBookPro2,1</string>
	<key>Mac-F4218EC8</key>
	<string>iMac5,2</string>
	<key>Mac-F4218FC8</key>
	<string>iMac6,1</string>
	<key>Mac-F42289C8</key>
	<string>Xserve2,1</string>
	<key>Mac-F4228EC8</key>
	<string>iMac5,1</string>
	<key>Mac-F42386C8</key>
	<string>iMac7,1</string>
	<key>Mac-F42388C8</key>
	<string>MacBookPro3,1</string>
	<key>Mac-F4238BC8</key>
	<string>MacBookPro3,1</string>
	<key>Mac-F4238CC8</key>
	<string>iMac7,1</string>
	<key>Mac-F42786A9</key>
	<string>iMac5,1</string>
	<key>Mac-F42C86C8</key>
	<string>MacBookPro4,1</string>
	<key>Mac-F42C88C8</key>
	<string>MacPro3,1</string>
	<key>Mac-F42C89C8</key>
	<string>MacBookPro4,1</string>
	<key>Mac-F42C8CC8</key>
	<string>MacBookAir1,1</string>
	<key>Mac-F42D86A9</key>
	<string>MacBookPro5,1</string>
	<key>Mac-F42D86C8</key>
	<string>MacBookPro5,1</string>
	<key>Mac-F42D88C8</key>
	<string>MacBookAir2,1</string>
	<key>Mac-F42D89A9</key>
	<string>MacBook5,1</string>
	<key>Mac-F42D89C8</key>
	<string>MacBook5,1</string>
	<key>Mac-F60DEB81FF30ACF6</key>
	<string>MacPro6,1</string>
	<key>Mac-F65AE981FFA204ED</key>
	<string>MacMini6,2</string>
	<key>Mac-FA842E06C61E91C5</key>
	<string>iMac15,1</string>
	<key>Mac-FC02E91DDD3FA6A4</key>
	<string>iMac13,2</string>
</dict>
</plist>
