<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>10.11</key>
		<dict>
			<key>15B42</key>
			<dict>
				<key>Essentials</key>
				<array>
					<string>.*/Library/ColorSync.*</string>
					<string>.*/Library/Perl.*</string>
					<string>.*/CoreServices/CoreTypes.bundle.*</string>
					<string>.*/CoreServices/RemoteManagement.*</string>
					<string>.*/CoreServices/SecurityAgentPlugins.*</string>
					<string>.*/CoreServices/SystemAppearance.bundle.*</string>
					<string>.*/Frameworks/ZoomWindow.framework.*</string>
					<string>.*/Library/DirectoryServices.*</string>
					<string>.*/Library/Displays.*</string>
					<string>.*/Library/Fonts.*</string>
					<string>.*/Frameworks/AVFoundation.framework.*</string>
					<string>.*/Frameworks/Accelerate.framework.*</string>
					<string>.*/Frameworks/vImage.framework.*</string>
					<string>.*/Frameworks/vecLib.framework.*</string>
					<string>.*/Frameworks/AppKit.framework.*</string>
					<string>.*/Frameworks/ApplicationServices.framework.*</string>
					<string>.*/Frameworks/ATS.framework.*</string>
					<string>.*/Frameworks/ColorSync.framework.*</string>
					<string>.*/Frameworks/HIServices.framework.*</string>
					<string>.*/Frameworks/LangAnalysis.framework.*</string>
					<string>.*/Frameworks/PrintCore.framework.*</string>
					<string>.*/Frameworks/QD.framework.*</string>
					<string>.*/Frameworks/SpeechSynthesis.framework.*</string>
					<string>.*/Frameworks/AudioToolbox.framework.*</string>
					<string>.*/Frameworks/AudioUnit.framework.*</string>
					<string>.*/Frameworks/CFNetwork.framework.*</string>
					<string>.*/Frameworks/Carbon.framework.*</string>
					<string>.*/Frameworks/CommonPanels.framework.*</string>
					<string>.*/Frameworks/HIToolbox.framework.*</string>
					<string>.*/Frameworks/Help.framework.*</string>
					<string>.*/Frameworks/ImageCapture.framework.*</string>
					<string>.*/Frameworks/Ink.framework.*</string>
					<string>.*/Frameworks/OpenScripting.framework.*</string>
					<string>.*/Frameworks/Print.framework.*</string>
					<string>.*/Frameworks/SecurityHI.framework.*</string>
					<string>.*/Frameworks/SpeechRecognition.framework.*</string>
					<string>.*/Frameworks/Cocoa.framework.*</string>
					<string>.*/Frameworks/CoreAudio.framework.*</string>
					<string>.*/Frameworks/CoreBluetooth.framework.*</string>
					<string>.*/Frameworks/CoreData.framework.*</string>
					<string>.*/Frameworks/CoreFoundation.framework.*</string>
					<string>.*/Frameworks/CoreGraphics.framework.*</string>
					<string>.*/Frameworks/CoreImage.framework.*</string>
					<string>.*/Frameworks/CoreLocation.framework.*</string>
					<string>.*/Frameworks/CoreMedia.framework.*</string>
					<string>.*/Frameworks/CoreMediaIO.framework.*</string>
					<string>.*/Frameworks/CoreServices.framework.*</string>
					<string>.*/Frameworks/AE.framework.*</string>
					<string>.*/Frameworks/CarbonCore.framework.*</string>
					<string>.*/Frameworks/DictionaryServices.framework.*</string>
					<string>.*/Frameworks/FSEvents.framework.*</string>
					<string>.*/Frameworks/LaunchServices.framework.*</string>
					<string>.*/Frameworks/Metadata.framework.*</string>
					<string>.*/Frameworks/OSServices.framework.*</string>
					<string>.*/Frameworks/SearchKit.framework.*</string>
					<string>.*/Frameworks/SharedFileList.framework.*</string>
					<string>.*/Frameworks/CoreText.framework.*</string>
					<string>.*/Frameworks/CoreVideo.framework.*</string>
					<string>.*/Frameworks/CoreWLAN.framework.*</string>
					<string>.*/Frameworks/DirectoryService.framework.*</string>
					<string>.*/Frameworks/DiscRecording.framework.*</string>
					<string>.*/Frameworks/DiskArbitration.framework.*</string>
					<string>.*/Frameworks/Foundation.framework.*</string>
					<string>.*/Frameworks/GSS.framework.*</string>
					<string>.*/Frameworks/IOBluetooth.framework.*</string>
					<string>.*/Frameworks/IOKit.framework.*</string>
					<string>.*/Frameworks/IOSurface.framework.*</string>
					<string>.*/Frameworks/ImageIO.framework.*</string>
					<string>.*/Frameworks/Kerberos.framework.*</string>
					<string>.*/Frameworks/LDAP.framework.*</string>
					<string>.*/Frameworks/MediaAccessibility.framework.*</string>
					<string>.*/Frameworks/MediaToolbox.framework.*</string>
					<string>.*/Frameworks/Metal.framework.*</string>
					<string>.*/Frameworks/NetFS.framework.*</string>
					<string>.*/Frameworks/OpenCL.framework.*</string>
					<string>.*/Frameworks/OpenDirectory.framework.*</string>
					<string>.*/Frameworks/CFOpenDirectory.framework.*</string>
					<string>.*/Frameworks/OpenGL.framework.*</string>
					<string>.*/Frameworks/QuartzCore.framework.*</string>
					<string>.*/Frameworks/Security.framework.*</string>
					<string>.*/Frameworks/SecurityFoundation.framework.*</string>
					<string>.*/Frameworks/ServiceManagement.framework.*</string>
					<string>.*/Frameworks/SystemConfiguration.framework.*</string>
					<string>.*/Frameworks/Tcl.framework.*</string>
					<string>.*/Frameworks/VideoToolbox.framework.*</string>
					<string>.*/Library/KerberosPlugins.*</string>
					<string>.*/Library/OpenDirectory.*</string>
					<string>.*/Library/Perl.*</string>
					<string>.*/CORE/libperl.dylib.*</string>
					<string>.*/CORE/libperl.dylib.*</string>
					<string>.*/PrivateFrameworks/APTransport.framework.*</string>
					<string>.*/PrivateFrameworks/AccountPolicy.framework.*</string>
					<string>.*/Frameworks/CFAccountPolicy.framework.*</string>
					<string>.*/PrivateFrameworks/AirPlaySupport.framework.*</string>
					<string>.*/PrivateFrameworks/AppContainer.framework.*</string>
					<string>.*/PrivateFrameworks/AppSandbox.framework.*</string>
					<string>.*/PrivateFrameworks/Apple80211.framework.*</string>
					<string>.*/PrivateFrameworks/AppleFSCompression.framework.*</string>
					<string>.*/PrivateFrameworks/AppleJPEG.framework.*</string>
					<string>.*/PrivateFrameworks/ApplePushService.framework.*</string>
					<string>.*/PrivateFrameworks/AppleSRP.framework.*</string>
					<string>.*/PrivateFrameworks/AppleVA.framework.*</string>
					<string>.*/PrivateFrameworks/AppleVPA.framework.*</string>
					<string>.*/PrivateFrameworks/Backup.framework.*</string>
					<string>.*/PrivateFrameworks/Bom.framework.*</string>
					<string>.*/PrivateFrameworks/ByteRangeLocking.framework.*</string>
					<string>.*/PrivateFrameworks/ChunkingLibrary.framework.*</string>
					<string>.*/Frameworks/CommerceCore.framework.*</string>
					<string>.*/PrivateFrameworks/CommonAuth.framework.*</string>
					<string>.*/PrivateFrameworks/ConfigurationProfiles.framework.*</string>
					<string>.*/PrivateFrameworks/CoreAUC.framework.*</string>
					<string>.*/PrivateFrameworks/CoreAVCHD.framework.*</string>
					<string>.*/PrivateFrameworks/CoreDaemon.framework.*</string>
					<string>.*/PrivateFrameworks/CoreDuet.framework.*</string>
					<string>.*/PrivateFrameworks/CoreDuetDaemonProtocol.framework.*</string>
					<string>.*/PrivateFrameworks/CoreDuetDebugLogging.framework.*</string>
					<string>.*/PrivateFrameworks/CoreSymbolication.framework.*</string>
					<string>.*/PrivateFrameworks/CoreUI.framework.*</string>
					<string>.*/PrivateFrameworks/CoreUtils.framework.*</string>
					<string>.*/PrivateFrameworks/CoreWiFi.framework.*</string>
					<string>.*/PrivateFrameworks/CrashReporterSupport.framework.*</string>
					<string>.*/PrivateFrameworks/DCERPC.framework.*</string>
					<string>.*/PrivateFrameworks/DataDetectorsCore.framework.*</string>
					<string>.*/PrivateFrameworks/DebugSymbols.framework.*</string>
					<string>.*/PrivateFrameworks/DesktopServicesPriv.framework.*</string>
					<string>.*/PrivateFrameworks/DeviceToDeviceManager.framework.*</string>
					<string>.*/PrivateFrameworks/DirectoryServer.framework.*</string>
					<string>.*/Frameworks/CFDirectoryServer.framework.*</string>
					<string>.*/PrivateFrameworks/DiskImages.framework.*</string>
					<string>.*/PrivateFrameworks/EAP8021X.framework.*</string>
					<string>.*/PrivateFrameworks/EFILogin.framework.*</string>
					<string>.*/PrivateFrameworks/FaceCore.framework.*</string>
					<string>.*/PrivateFrameworks/FamilyControls.framework.*</string>
					<string>.*/PrivateFrameworks/FileSync.framework.*</string>
					<string>.*/PrivateFrameworks/FindMyDevice.framework.*</string>
					<string>.*/PrivateFrameworks/GPUCompiler.framework.*</string>
					<string>.*/PrivateFrameworks/GenerationalStorage.framework.*</string>
					<string>.*/PrivateFrameworks/GeoServices.framework.*</string>
					<string>.*/PrivateFrameworks/HeimODAdmin.framework.*</string>
					<string>.*/PrivateFrameworks/Heimdal.framework.*</string>
					<string>.*/PrivateFrameworks/ICANotifications.framework.*</string>
					<string>.*/PrivateFrameworks/IOAccelerator.framework.*</string>
					<string>.*/PrivateFrameworks/IconServices.framework.*</string>
					<string>.*/PrivateFrameworks/JavaLaunching.framework.*</string>
					<string>.*/PrivateFrameworks/KerberosHelper.framework.*</string>
					<string>.*/PrivateFrameworks/LanguageModeling.framework.*</string>
					<string>.*/Frameworks/LoginUICore.framework.*</string>
					<string>.*/PrivateFrameworks/ManagedClient.framework.*</string>
					<string>.*/PrivateFrameworks/Mangrove.framework.*</string>
					<string>.*/PrivateFrameworks/MediaControlSender.framework.*</string>
					<string>.*/PrivateFrameworks/MediaKit.framework.*</string>
					<string>.*/PrivateFrameworks/MultitouchSupport.framework.*</string>
					<string>.*/PrivateFrameworks/NetAuth.framework.*</string>
					<string>.*/PrivateFrameworks/NetFSServer.framework.*</string>
					<string>.*/PrivateFrameworks/OpenDirectoryConfig.framework.*</string>
					<string>.*/PrivateFrameworks/PasswordServer.framework.*</string>
					<string>.*/PrivateFrameworks/PerformanceAnalysis.framework.*</string>
					<string>.*/PrivateFrameworks/ProtectedCloudStorage.framework.*</string>
					<string>.*/PrivateFrameworks/ProtocolBuffer.framework.*</string>
					<string>.*/PrivateFrameworks/RemoteViewServices.framework.*</string>
					<string>.*/PrivateFrameworks/SMBClient.framework.*</string>
					<string>.*/Frameworks/ScreenReaderCore.framework.*</string>
					<string>.*/PrivateFrameworks/SecCodeWrapper.framework.*</string>
					<string>.*/PrivateFrameworks/Sharing.framework.*</string>
					<string>.*/PrivateFrameworks/SpeechRecognitionCore.framework.*</string>
					<string>.*/PrivateFrameworks/Symbolication.framework.*</string>
					<string>.*/PrivateFrameworks/SystemAdministration.framework.*</string>
					<string>.*/PrivateFrameworks/SystemUIPlugin.framework.*</string>
					<string>.*/PrivateFrameworks/TCC.framework.*</string>
					<string>.*/PrivateFrameworks/TrustEvaluationAgent.framework.*</string>
					<string>.*/PrivateFrameworks/UIFoundation.framework.*</string>
					<string>.*/PrivateFrameworks/UniversalAccess.framework.*</string>
					<string>.*/PrivateFrameworks/WebFilterDNS.framework.*</string>
					<string>.*/PrivateFrameworks/WirelessProximity.framework.*</string>
					<string>.*/PrivateFrameworks/XPCService.framework.*</string>
					<string>.*/PrivateFrameworks/iPod.framework.*</string>
					<string>.*/PrivateFrameworks/login.framework.*</string>
					<string>.*/Frameworks/loginsupport.framework.*</string>
					<string>.*/Library/Sandbox.*</string>
					<string>.*/Library/Sounds.*</string>
					<string>.*/Library/SystemProfiler.*</string>
					<string>.*/Library/Tcl.*</string>
					<string>.*/expect5.45/libexpect5.45.dylib.*</string>
					<string>.*/etc/pam.d.*</string>
					<string>.*/lib/libCRFSuite.dylib.*</string>
					<string>.*/lib/libChineseTokenizer.dylib.*</string>
					<string>.*/lib/libCoreStorage.dylib.*</string>
					<string>.*/lib/libDiagnosticMessagesClient.dylib.*</string>
					<string>.*/lib/libFosl_dynamic.dylib.*</string>
					<string>.*/lib/libMatch.1.dylib.*</string>
					<string>.*/lib/libOpenScriptingUtil.dylib.*</string>
					<string>.*/lib/libScreenReader.dylib.*</string>
					<string>.*/lib/libSystem.B.dylib.*</string>
					<string>.*/lib/libUniversalAccess.dylib.*</string>
					<string>.*/lib/libarchive.2.dylib.*</string>
					<string>.*/lib/libauto.dylib.*</string>
					<string>.*/lib/libbsm.0.dylib.*</string>
					<string>.*/lib/libbz2.1.0.dylib.*</string>
					<string>.*/lib/libc\+\+.1.dylib.*</string>
					<string>.*/lib/libc\+\+abi.dylib.*</string>
					<string>.*/lib/libcmph.dylib.*</string>
					<string>.*/lib/libcompression.dylib.*</string>
					<string>.*/lib/libcrypto.0.9.8.dylib.*</string>
					<string>.*/lib/libcsfde.dylib.*</string>
					<string>.*/lib/libcups.2.dylib.*</string>
					<string>.*/lib/libcurl.4.dylib.*</string>
					<string>.*/lib/libedit.3.dylib.*</string>
					<string>.*/lib/libenergytrace.dylib.*</string>
					<string>.*/lib/libextension.dylib.*</string>
					<string>.*/lib/libheimdal-asn1.dylib.*</string>
					<string>.*/lib/libiconv.2.dylib.*</string>
					<string>.*/lib/libicucore.A.dylib.*</string>
					<string>.*/lib/libipsec.A.dylib.*</string>
					<string>.*/lib/liblangid.dylib.*</string>
					<string>.*/lib/liblzma.5.dylib.*</string>
					<string>.*/lib/libmarisa.dylib.*</string>
					<string>.*/lib/libmecabra.dylib.*</string>
					<string>.*/lib/libncurses.5.4.dylib.*</string>
					<string>.*/lib/libobjc.A.dylib.*</string>
					<string>.*/lib/libodfde.dylib.*</string>
					<string>.*/lib/libpam.2.dylib.*</string>
					<string>.*/lib/libpanel.5.4.dylib.*</string>
					<string>.*/lib/libresolv.9.dylib.*</string>
					<string>.*/lib/libsandbox.1.dylib.*</string>
					<string>.*/lib/libsasl2.2.dylib.*</string>
					<string>.*/lib/libspindump.dylib.*</string>
					<string>.*/lib/libsqlite3.dylib.*</string>
					<string>.*/lib/libutil.dylib.*</string>
					<string>.*/lib/libxar.1.dylib.*</string>
					<string>.*/lib/libxcselect.dylib.*</string>
					<string>.*/lib/libxml2.2.dylib.*</string>
					<string>.*/lib/libxslt.1.dylib.*</string>
					<string>.*/lib/libz.1.dylib.*</string>
					<string>.*/lib/pam.*</string>
					<string>.*/lib/python2.6.*</string>
					<string>.*/lib/python2.7.*</string>
					<string>.*/system/libcache.dylib.*</string>
					<string>.*/system/libcommonCrypto.dylib.*</string>
					<string>.*/system/libcompiler_rt.dylib.*</string>
					<string>.*/system/libcopyfile.dylib.*</string>
					<string>.*/system/libcorecrypto.dylib.*</string>
					<string>.*/system/libdispatch.dylib.*</string>
					<string>.*/system/libdyld.dylib.*</string>
					<string>.*/system/libkeymgr.dylib.*</string>
					<string>.*/system/libkxld.dylib.*</string>
					<string>.*/system/liblaunch.dylib.*</string>
					<string>.*/system/libmacho.dylib.*</string>
					<string>.*/system/libquarantine.dylib.*</string>
					<string>.*/system/libremovefile.dylib.*</string>
					<string>.*/system/libsystem_asl.dylib.*</string>
					<string>.*/system/libsystem_blocks.dylib.*</string>
					<string>.*/system/libsystem_c.dylib.*</string>
					<string>.*/system/libsystem_configuration.dylib.*</string>
					<string>.*/system/libsystem_coreservices.dylib.*</string>
					<string>.*/system/libsystem_coretls.dylib.*</string>
					<string>.*/system/libsystem_dnssd.dylib.*</string>
					<string>.*/system/libsystem_info.dylib.*</string>
					<string>.*/system/libsystem_kernel.dylib.*</string>
					<string>.*/system/libsystem_m.dylib.*</string>
					<string>.*/system/libsystem_malloc.dylib.*</string>
					<string>.*/system/libsystem_network.dylib.*</string>
					<string>.*/system/libsystem_networkextension.dylib.*</string>
					<string>.*/system/libsystem_notify.dylib.*</string>
					<string>.*/system/libsystem_platform.dylib.*</string>
					<string>.*/system/libsystem_pthread.dylib.*</string>
					<string>.*/system/libsystem_sandbox.dylib.*</string>
					<string>.*/system/libsystem_secinit.dylib.*</string>
					<string>.*/system/libsystem_trace.dylib.*</string>
					<string>.*/system/libunc.dylib.*</string>
					<string>.*/system/libunwind.dylib.*</string>
					<string>.*/system/libxpc.dylib.*</string>
					<string>.*/lib/zsh.*</string>
					<string>.*/share/sandbox.*</string>
					<string>.*/share/terminfo.*</string>
					<string>.*/share/zoneinfo.*</string>
					<string>.*/System/Library/Extensions/AppleGraphicsControl.kext/Contents/PlugIns/AppleGraphicsDevicePolicy.kext.*</string>
					<string>.*/System/Library/Extensions/AppleGraphicsControl.kext/Contents/PlugIns/AppleMGPUPowerControl.kext.*</string>
					<string>.*/System/Library/Extensions/IOPlatformPluginFamily.kext/Contents/PlugIns/X86PlatformPlugin.kext/Contents/Resources.*</string>
					<string>.*/System/Library/Frameworks/Security.framework/Versions/A/PlugIns.*</string>
					<string>.*/System/Library/Frameworks/OpenCL.framework/LibrarieslibCLVMIGILPlugin.dylib.*</string>
					<string>.*/System/Library/Frameworks/OpenCL.framework/LibrariesIGIL.dylib.*</string>
					<string>.*/Library/Fonts/AppleSDGothicNeo*.*</string>
					<string>.*/var/db/auth.db.*</string>
					<string>.*/var/db/auth.db-shm.*</string>
					<string>.*/var/db/auth.db-wal.*</string>
					<string>.*/System/Library/Kernels.*</string>
				</array>
			</dict>
		</dict>
	</dict>
</plist>
