<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkflowReportIncludeLinkerWarnings</key>
	<false/>
	<key>UserNotificationsSoundEnabled</key>
	<false/>
	<key>WorkflowTimerEnabled</key>
	<true/>
	<key>UserNotificationsEnabled</key>
	<true/>
	<key>CheckForUpdates</key>
	<true/>
	<key>LogLevel</key>
	<integer>7</integer>
	<key>DateFormatString</key>
	<string>yyyy-MM-dd</string>
	<key>NetBootSelection</key>
	<integer>0</integer>
	<key>NetBootIndexCounter</key>
	<integer>1024</integer>
</dict>
</plist>
