<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<false/>
	<key>Enabled</key>
	<true/>
	<key>Icon</key>
	<string>%APPLICATIONRESOURCESURL%/IconNetBootNBI.icns</string>
	<key>DestinationFolder</key>
	<string>~/Desktop</string>
	<key>Description</key>
	<string>Created with System Image Utility version %SIUVERSION%</string>
	<key>Language</key>
	<string>Current</string>
	<key>Protocol</key>
	<string>NFS</string>
	<key>Index</key>
	<string>%COUNTER%</string>
	<key>Name</key>
	<string>%OSVERSION%_%OSBUILD%_NetInstall</string>
	<key>TrustedNetBootServers</key>
	<array/>
	<key>Packages</key>
	<array/>
	<key>ConfigurationProfiles</key>
	<array/>
</dict>
</plist>
