<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DateFormatString</key>
	<string>yyyy-mm-dd</string>
	<key>NetBootSelection</key>
	<integer>0</integer>
	<key>NetBootIndexCounter</key>
	<integer>1024</integer>
</dict>
</plist>
